{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
      <div class="jumbotron mt-3 bg-white shadow-lg">
      <article class="media content-section shadow">
        <a href="{{ post.author.profile.image.url }} " target="_blank"> <img src="{{ post.author.profile.image.url }}  " alt="" class="article-img rounded-circle img-thumbnail img-fluid shadow">
        </a>
        <div class="media-body">
          <div class="article-metadata d-flex justify-content-between">
            <a class="mr-2 " href="{% url 'user-posts' post.author.username  %}"><h3>{{ post.author }}</h3></a>
              <small class="text-muted">{{ post.date_upload|date:"F d, Y" }}</small>
          </div>
          {% if post.file %}
          <a href="{{ post.file.url }}"  download class="text-dark text-justify "><h5>{{ post.blog }}</h5></a>
          {% endif %}
     
          
     
          <h2><a class="article-title text-justify " href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <div class="d-flex justify-content-between">
            <p class="article-content text-justify text-truncate overflow-hidden">{{ post.content }}</p>
        
          </div>
          {% if post.category %}
            <p class="mb-1"><strong>category</strong>: <span class="badge badge-secondary">{{ post.category }}</span></p>
          {% endif %}
          {% if post.max_participants == post.participants.count and ost.max_participants > 0 %}
              <p class="mb-1"><strong>จำนวนคนที่เข้าร่วม</strong>: <span class="badge badge-danger">{{ post.participants.count }}/{{ post.max_participants }}</span></p>
          {% else %}
              {% if post.max_participants %}
                  <p class="mb-1"><strong>จำนวนคนที่เข้าร่วม</strong>: <span class="badge badge-primary">{{ post.participants.count }}/{{ post.max_participants }}</span></p>
              {% else %}
                  <p class="mb-1"><strong>จำนวนคนที่เข้าร่วม</strong>: <span class="badge badge-success">ไม่จำกัดจำนวน</span> </p>
              {% endif %}
          {% endif %}
          {% if post.date_ended %}
          <p class="mb-1"><strong>วัน</strong>: <span class="badge badge-info">{{ post.date_ended|date:"d F Y H:i" }}</span></p> <!-- แสดงวันสิ้นสุด -->
          {% endif %}
        

          <form action="{% url 'join-post' post.id %}" method="post">
            {% csrf_token %}
            {% if not request.user == post.author %}
                {% if post.participants.count >= post.max_participants and post.max_participants > 0 %}
                    <button type="button" class="btn btn-info" disabled>เต็ม</button>
                {% elif request.user in post.participants.all %}
                    <button type="submit" class="btn btn-primary" disabled>เข้าร่วมแล้ว</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">เข้าร่วม</button>
                {% endif %}
            {% endif %}
        </form>
        </div>
        
      </article>
      </div>   
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %} 
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
